In [1]:
import pandas as pd

In [7]:
Siliguri=pd.read_csv(r'D:\mar_res_data\National\Siliguri.csv')
Sector5=pd.read_csv(r'D:\mar_res_data\National\Sector5.csv')
Sealdah=pd.read_csv(r'D:\mar_res_data\National\Sealdah.csv')
Kolkata=pd.read_csv(r'D:\mar_res_data\National\Kolkata.csv')
Kharagpur=pd.read_csv(r'D:\mar_res_data\National\Kharagpur.csv')
Howrah=pd.read_csv(r'D:\mar_res_data\National\Howrah.csv')
Hoogly=pd.read_csv(r'D:\mar_res_data\National\Hoogly.csv')
Haldia=pd.read_csv(r'D:\mar_res_data\National\Haldia.csv')
Durgapur=pd.read_csv(r'D:\mar_res_data\National\Durgapur.csv')
Bidhannagar=pd.read_csv(r'D:\mar_res_data\National\Bidhannagar.csv')
Asansol=pd.read_csv(r'D:\mar_res_data\National\Asansol.csv')

In [8]:
df=pd.concat([Siliguri,
Sector5,
Sealdah,
Kolkata,
Kharagpur,

Howrah,

Hoogly,

Haldia,
Durgapur,
Bidhannagar,
Asansol],axis=0)

In [11]:
df.drop(columns=['Contact'],inplace=True)

In [12]:
df.head(60)

,Company_name,ration,user_review,Type,region
0,National Power Engineering Company,4.9,-122.0,Steel fabricator,siliguri
1,NPEC Industrial Estate Factory,5.0,-1.0,Steel fabricator,siliguri
2,National Insurance,3.7,-67.0,Insurance company,siliguri
3,National Industries,4.4,-31.0,Fertilizer Store,siliguri
4,NPEC Dabgram Factory,5.0,-1.0,Steel fabricator,siliguri
5,The New India Assurance Co. Ltd,3.7,-56.0,Insurance company,siliguri
6,NATIONAL WALLPAPER CO,NaN,NaN,Wallpaper store,siliguri
7,REYAL ELEVATORS,3.0,-4.0,Elevator Manufacturer,siliguri
8,Quantum Siliguri (Rungta Group),4.3,-16.0,Corporate campus,siliguri
9,Shyam Sales Corporation,4.6,-5.0,Agricultural service,siliguri
10,National Battery,3.0,-1.0,Battery Wholesaler,siliguri
11,Techno Developers Group,4.6,-29.0,Software company,siliguri
12,Livewire IT Services Pvt Ltd,3.0,-2.0,Software company,siliguri
13,Siliguri Printing,NaN,NaN,Digital printing service,siliguri
14,AGS FOODS,4.5,-4.0,Frozen food manufacturer,siliguri
15,Kamac,4.8,-16.0,Real Estate Builders & Construction Company,siliguri
16,Pioneer Pipes,4.8,-6.0,Pipe Manufacturer,siliguri
17,Arkedia Marketing,4.9,-48.0,Internet marketing service,siliguri
18,Conciva Digi Hub,5.0,-2.0,Internet cafe,siliguri
19,Furnitech Seating Systems - Siliguri,5.0,-1.0,Furniture Manufacturer,siliguri
20,New Winner Tailor,NaN,NaN,Fabric product manufacturer,siliguri
21,Roshan Agencies,5.0,-9.0,Battery Wholesaler,siliguri
22,Bajaj Allianz Life Insurance Company Limited,4.0,-70.0,Life insurance agency,siliguri
23,National Insurance,4.4,-7.0,Insurance company,siliguri
24,NAKSHATRA PHARMA,NaN,NaN,Pharmaceutical company,siliguri
25,Essenn Group Of Companies,4.7,-3.0,Telecommunications contractor,siliguri
26,SunTale Energy,NaN,NaN,Solar Energy Company,siliguri
27,Om metal industry,NaN,NaN,Manufacturer,siliguri
28,Gulsari Enterprise,NaN,NaN,Home automation company,siliguri
29,Furniture king,NaN,NaN,Furniture maker,siliguri
30,Drugs & Chemicals,NaN,NaN,Laboratory equipment supplier,siliguri
31,National Fartilizer Limited,NaN,NaN,Corporate office,siliguri
0,National Hydroelectric Power Corporation,5.0,-1,Power station,kolkata
1,Nicco Engineering Services Limited,4.6,-16,Mechanical engineer,kolkata
2,National Insurance Salt Lake Division,5.0,-9,Insurance company,kolkata
3,National Dairy Development Board,NaN,NaN,Warehouse,kolkata
4,Indian National Drug Company Private Limited,2.0,-4,Pharmaceutical company,kolkata
5,Medequip Healthcare Solutions LLP,1.0,-1,Medical Equipment Manufacturer,kolkata
6,Sector-v,4.4,-29,Government office,kolkata
7,Larsen & Toubro Ltd,4.5,-771,Real Estate Builders & Construction Company,kolkata
8,NATIONAL MANUFACTURING COMPANY,NaN,NaN,Manufacturer,kolkata
9,National india,NaN,NaN,Packaging company,kolkata
10,Godrej Genesis,3.7,"-1,260",Building design company,kolkata
11,National Trading Co.,5.0,-2,Manufacturer,kolkata
12,National Engineering & Technology,4.9,-14,Manufacturer,kolkata
13,The National Engineering Co,NaN,NaN,Manufacturer,kolkata
14,National Trading Company,4.2,-5,PVC industry,kolkata
15,Sector V,NaN,NaN,Bidhannagar,kolkata
16,Ner Rubber National Engineering Industries Ltd,3.8,-9,Manufacturer,kolkata
17,Ecodrive - National Manufacturing Company,5.0,-2,Manufacturer,kolkata
18,"Godrej Waterside - Tower 2, Kolkata",4.5,"-1,471",Corporate office,kolkata
19,National Engineering Industries Ltd.,5.0,-1,Manufacturer,kolkata
20,National Engineering Co.,NaN,NaN,Manufacturer,kolkata
21,Aegis,3.4,"-2,041",BPO Company,kolkata
22,PS Srijan Corporate Park,4.4,-674,Corporate campus,kolkata
23,"National Engineering & Technology, Unit-2",NaN,NaN,Manufacturer,kolkata
24,NATIONAL CHAIN CORPORATION,5.0,-3,Manufacturer,kolkata
25,Electrical Room,NaN,NaN,Power station,kolkata
26,National Traders (Tesla Power Shop),5.0,-1,Manufacturer,kolkata
0,National Insurance,4.4,-26.0,Insurance company,kolkata

In [13]:
df.to_csv(r'D:\Market_research\Nationalcompany.csv',index=False)